<h1>Patrons</h1>

<p><a href="/patron/add">Add a Patron</a></p>

<% if @patrons.any? %>
  <ul>
    <% @patrons.each do |patron| %>
      <li>
        <a href="/librarian/patrons/<%= patron.id %>"><%= patron.name %></a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No patrons in database</p>
<% end %>

<a href="/">Home</a>
